.container-app {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.container-actions ul{
    display: flex;
    gap: 10px;
}

.container-actions ul li{
    list-style: none;
}
.container-actions ul li button {
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
}
.container-actions ul li button:hover {
    cursor: pointer;
}

form label{
    display: flex;
    gap: 10px;
}

form label:hover {
    cursor: pointer;
}

.container-pergunta {
    padding: 10px 0;
    background-color: #61616140;
    color:#111111;
}

.container-pergunta h2 {
    font-size: 18px;
}

.container-respostas {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    
}

.button-resposta {
    width: 100%;
    min-height: 100px;
    background-color: #616161;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-weight: 600;
}

.button-resposta:hover {
    cursor: pointer;
    color: #fff;
    background-color: #111111;
}